<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1> Team Name: </h1>
   <ul style="list-style: none;">
     <li> Coach: <%= @coach %></li>


 </body>
</html>
